body, h1, a {
    font-family: 'Archivo', sans-serif;
    color: white;
}

a:hover {
    text-decoration: none;
}

h2 {
    font-weight: 400;
}

.container-header {
    max-width: 1440px;
}

.img-logo-blog {
    width: 200px;
}

.menu div a {
    font-weight: 400;
    font-size: 30px;
    color: black;
}

.active  {
    font-weight: 600 !important;
    text-decoration: underline !important;
}

.container-main {
    background: linear-gradient(180deg, #6721A0 0%, #000000 122.18%);
    
    padding: 100px 0;
    
}

.content-main {
    max-width: 100vw;
    width: 90%;
}

.img-logo-branca {
    width: 400px;
    height: 400px;
}

.texto {
    max-width: 500px;
    width: 90%;
}


.container-footer {
    color: black;
    font-weight: 700;
}

@media screen and (max-width: 900px) {
    .content-main {
        flex-direction: column !important;
    }

    .container-main img {
        margin-bottom: 3rem;
        height: 300px;
        width: 300px;
    }
}

@media screen and (max-width: 780px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }
    
    h3 {
        font-size: 18px;
    }

    p {
        font-size: 15px;
    }

    .img-logo-blog {
        width: 150px;
    }

    .menu div a {
        font-size: 20px;
        
    }
}

@media screen and (max-width: 570px) {
    .menu {
        justify-content: center;
    }

    .menu-links {
        margin-left: 0 !important;
    }

    .img-logo-blog {
        margin: 0 !important;
    }
    
    .container-footer {
        flex-direction: column;
        align-items: center;
    }

    .logo-endereco {
        flex-direction: column;
        text-align: center;
        margin-bottom: 1rem;
    }

    .logo-endereco p {
        margin-right: 0 !important;
        padding: 0 !important;
    }

    .img-logo-atomo {
        width: 50px;
        height: 50px;

        margin-bottom: 1rem;
    }

    .redes-sociais {
        margin: 0 !important;
    }
}

