body, h1, a{
    font-family: 'Archivo', sans-serif;
    color: white;
}
a:hover {
    text-decoration: none;
}

h2 {
    font-weight: 400;
}

.container-header {
    max-width: 1440px;
}

.img-logo-blog {
    max-width: 200px;
    max-height: 44.2px;
}
.menu div a {
    font-weight: 400;
    font-size: 30px;
    color: black;
}

.active  {
    font-weight: 600 !important;
    text-decoration: underline !important;
}

.container-main {
    background: linear-gradient(180deg, #6721A0 0%, #000000 122.18%);
}

.input {
    height: 48px;
    max-width:843px;

    border-right: none; 
    background-color: transparent;

    border: 1px solid white;
    border-radius: 1rem;
    
    color: white;

}

.input-group {
    width: 80%;
}

.input:focus {
    background-color: transparent;
    box-shadow: 0 0 0 0;
    border: 1px solid white;
    outline: 0;
    color: white;
}

.input-grupo {
    

    border: 1px solid white;
    border-radius: 1rem;

    background-color: transparent
}

.input::placeholder {
    color: white;
}
.icone {
    color: white;
}

.button-pesquisa {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.button-pesquisa:focus {
    outline: 0;
}

.container-noticias {
    max-width: 1440px;
}

.container-noticias p{
    width: 85%;
}

.img-noticias {
    max-width: 650px;
    width: 90%;

    border-radius: 20px !important;
}

.container-footer {
    color: black;
    font-weight: 700;
}   
@media screen and (max-width: 780px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }
    
    h3 {
        font-size: 18px;
    }

    p {
        font-size: 15px;
    }

    .img-logo-blog {
        width: 150px;
    }

    .menu div a {
        font-size: 20px;
        
    }

    .container-noticias p{
        width: 75%;
    }

}
@media screen and (max-width: 570px) {
    .menu {
        justify-content: center;
    }

    .menu-links {
        margin-left: 0 !important;
    }

    .img-logo-blog {
        margin: 0 !important;
    }
    
    .container-footer {
        flex-direction: column;
        align-items: center;
    }

    .logo-endereco {
        flex-direction: column;
        text-align: center;
        margin-bottom: 1rem;
    }

    .logo-endereco p {
        margin-right: 0 !important;
        padding: 0 !important;
    }

    .img-logo-atomo {
        width: 50px;
        height: 50px;

        margin-bottom: 1rem;
    }

    .redes-sociais {
        margin: 0 !important;
    }}