body, h1, a{
    font-family: 'Archivo', sans-serif;
    color: white;
}
a:hover {
    text-decoration: none;
}

h2 {
    font-weight: 400;
}
.img-logo-blog {
    width: 200px;
}
.menu div a {
    font-weight: 400;
    font-size: 30px;
    color: black;
}

.conteudo {
    color: #000000;
    text-align: justify;
    padding: 60px 90px;
    opacity: 10;
}

.caixa1 {
    position: relative;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(images/Notícia101.png);
    
    
}

.conteudo-titulo {
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    text-align: center;
}


.container-footer {
    color: black;
    font-weight: 700;
}   
@media screen and (max-width: 780px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }
    
    h3 {
        font-size: 22px;
    }

    p {
        font-size: 20px;
    }

    .img-logo-blog {
        width: 150px;
    }

    .menu div a {
        font-size: 20px;
        
    }
}
@media screen and (max-width: 570px) {
    .menu {
        justify-content: center;
    }

    .menu-links {
        margin-left: 0 !important;
    }

    .img-logo-blog {
        margin: 0 !important;
    }
    
    .container-footer {
        flex-direction: column;
        align-items: center;
    }

    .logo-endereco {
        flex-direction: column;
        text-align: center;
        margin-bottom: 1rem;
    }

    .logo-endereco p {
        margin-right: 0 !important;
        padding: 0 !important;
    }

    .img-logo-atomo {
        width: 50px;
        height: 50px;

        margin-bottom: 1rem;
    }

    .redes-sociais {
        margin: 0 !important;
    }}